.optionsTable {
    font-family: arial, sans-serif;
    font-size: 24;
    border-collapse: collapse;
    width: 100%;
}

.titleTable{
  text-align: center;
  vertical-align: middle;
  margin: 0 auto;
}

.plantPackTable{
  text-align: center;
  vertical-align: middle;
  width: 100%;
}

.title {
    font-family: arial, sans-serif;
    color: black;
    font-size: 48px;
}

.menuText {
  font-family: arial, sans-serif;
  color: black;
  font-size: 18px;
}

.menuTextHeader {
  font-family: arial, sans-serif;
  color: black;
  font-size: 22px;
}

textarea{
  width: 90%;
  height: 30%;
}

.optionsRow {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 4px;
}

.nextButton {
    font-family: arial, sans-serif;
    background-color: #47d147;
    border: none;
    color: white;
    width: 95%;
    height: 8%;
    text-align: center;
    font-size: 24px;
    justify-content: center;
    position: fixed;
    margin: 4px 2px;
    padding: 8px 16px;
    bottom: 10px;
    right: 10px;
    left: 10px;
}

.regularSearchButton {
    font-family: arial, sans-serif;
    background-color: #47d147;
    border: none;
    color: white;
    width: 100%;
    padding: 8px 16px;
    text-align: center;
    font-size: 24px;
    margin: 4px 2px;
    justify-content: center;
}

.expertModeButton {
    font-family: arial, sans-serif;
    background-color: gray;
    border: none;
    color: white;
    width: 100%;
    padding: 8px 16px;
    text-align: center;
    font-size: 24px;
    margin: 4px 2px;
}

.iButton {
    font-family: arial, sans-serif;
    background-color: gray;
    border: none;
    color: white;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    text-align: center;
    font-size: 24px;
}

.questionButton {
    font-family: arial, sans-serif;
    background-color: gray;
    border: none;
    color: white;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    text-align: center;
    font-size: 24px;
}

.optionsTitle {
    font-family: arial, sans-serif;
    background-color: #33cc33;
    border: none;
    color: black;
    width: 100%;
    overflow: hidden;
}

.homeIcon{
  height: 30px;
  width: 30px;
}

.optionsBody {
  max-width: 100%;
  overflow-x: hidden;
  overflow-y: hidden;
}
.tknz-wrapper { /* The apparent input */
     width: 350px;
     height: 250px;
     margin: 50px auto;
     padding: 10px;
     overflow: auto;

     color: #fefefe;
     background: #fefefe;
     font-size: 24px;
     font-family: arial, sans-serif;

     border: solid 2px #DFDFDF;
     border-radius:10px;
}

.tknz-focus{ /* Apparent input in active state */
    box-shadow: 0px 0px 6px #5c7db7;
    border: solid 2px transparent;
}

.tknz-wrapper-label { /* Label for the field */
    float: left;
    color: #000;
    margin: 5px 5px 0 2px;
}

.tknz-input { /* The actual input */
    font-family: inherit;
    font-size: inherit;
    font-weight: inherit;
    width: 112px;
    margin: 2px;
    border: none;
    outline: none;
    background: transparent;
}

.tknz-input-wrapper {
    float: left;
    position: relative;
    top: 4px;
}

.tknz-token { /* An individual token */
    background: #5c7db7;
    padding: 2px 2px 2px 5px;
    margin: 2px;
    float: left;
    border-radius: 2px;
    max-width: 340px;
    cursor: pointer;
}

.tknz-token-label { /* Token's label */
    word-break: break-word;
}

.tknz-token-x { /* Delete button for token */
    color: rgba(255,255,255, 0.5);
    padding-left: 7px;
    position: relative;
    top: 1px;
}
.tknz-token-x:hover {
    text-shadow: 0px 0px 3px #eee;
    color: #fff;
}

.tknz-suggest { /* Autosuggest modal */
    position: absolute;
    top: 27px;
    left: 5px;
    background-color: #fff;
    box-shadow: 1px 1px 3px rgba(120,120,120, 0.3);
}

.tknz-suggest ul {
    list-style: none;
    margin: 0px;
    padding: 0px;
    text-align: left;
}

.tknz-suggest-li {
   color: #000;
   padding: 0px 5px;
}

.tknz-suggest-li:nth-child(2n) {
    background-color: #f0f0f0;
}

.tknz-suggest-li.tknz-sel {
    color: #fff;
    background-color: #5c7db7;
}
