.optionsTable {
    font-family: arial, sans-serif;
    font-size: 24;
    border-collapse: collapse;
    width: 100%;
}

.titleTable{
  text-align: center;
  vertical-align: middle;
  margin: 0 auto;
}

.title {
    font-family: arial, sans-serif;
    color: black;
    font-size: 48px;
}

textarea{
  width: 90%;
  height: 30%;
}

.optionsRow {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 4px;
}

.nextButton {
    font-family: arial, sans-serif;
    background-color: #47d147;
    border: none;
    color: white;
    width: 95%;
    height: 8%;
    text-align: center;
    font-size: 24px;
    justify-content: center;
    position: fixed;
    margin: 4px 2px;
    padding: 8px 16px;
    bottom: 10px;
    right: 10px;
    left: 10px;
}

.regularSearchButton {
    font-family: arial, sans-serif;
    background-color: #47d147;
    border: none;
    color: white;
    width: 100%;
    padding: 8px 16px;
    text-align: center;
    font-size: 24px;
    margin: 4px 2px;
    justify-content: center;
}

.expertModeButton {
    font-family: arial, sans-serif;
    background-color: gray;
    border: none;
    color: white;
    width: 100%;
    padding: 8px 16px;
    text-align: center;
    font-size: 24px;
    margin: 4px 2px;
}

.optionsTitle {
    font-family: arial, sans-serif;
    background-color: #33cc33;
    border: none;
    color: black;
    width: 100%;
    overflow: hidden;
}

.homeIcon{
  height: 30px;
  width: 30px;
}

.optionsBody {
  max-width: 100%;
  overflow-x: hidden;
  overflow-y: hidden;
}
